@model IEnumerable<Recipe>
@{
    ViewBag.Title = "User page";
    ViewBag.Data = "active";
}


<div class="container text-center my-5">
    @if (TempData["message"] != null)
    {
    <div class="alert alert-success">@TempData["message"]</div>
    }
    <div class="row my-4">
        @foreach (Recipe recipe in Model)
        {
        <div class="row my-4">

            <div class="col-lg-4 col-md-4 col-sm-6">
                <img class="img-thumbnail" src="@recipe.PictureUrl" alt="@recipe.RecipeName" />
            </div>
            <div class="col-lg-4 col-lg-4 col-sm-4">
                <p class="text-left">@recipe.Description</p>
            </div>
            <div class="col-lg-2 col-lg-2 col-sm-2">
                <a asp-controller="Review" asp-route-RecipeID="@recipe.RecipeID" asp-action="AddReview" class="btn btn-outline-info">Add review</a>
            </div>
        </div>
        }

    </div>
</div>