@model IEnumerable<Recipe>


<div class="container-fluid bg-dark mb-4">
    <div class="container py-3">
        <div class="row">
            <h2 class="w-100 pb-2 cborder text-light">
                What's <strong class="text-success">New</strong>
            </h2>
        </div>
        <div class="row py-3">
            @foreach (var recipe in Model)
            {
                <div class="col-lg-3 col-md-3 col-sm-12 text-center text-light">
                    <div class="border-0" >
                        <img class="border p-2" style="max-height: 150px; max-width: 200px;"
                             src="@recipe.PictureUrl" alt="@recipe.RecipeName">
                        <div class="card-body">
                            <h6 class="card-title">
                                @{
                                    var stgLength = recipe.RecipeName.ToString().Length;
                                    
                                <a asp-action="DisplayPage"
                                   asp-controller="Recipe"
                                   asp-route-RecipeID="@recipe.RecipeID"
                                   class="card-link text-success">@recipe.RecipeName.ToString().Substring(0,@stgLength< 20 ?@stgLength: 20)...</a>
                                }
                            </h6>
                            <p class="card-text text-left">

                                @recipe.Description.ToString().Substring(0, 50)
                                <a asp-action="DisplayPage"
                                   asp-controller="Recipe"
                                   asp-route-RecipeID="@recipe.RecipeID"
                                   class="card-link text-success">more...</a>
                            </p>
                        </div>
                    </div>
                </div>
            }

        </div>
    </div>
</div>