@model Recipe

<div class="container">
    <div class="row align-items-center recipe bg-light py-4">
        <div class="col-12">
            <h3 class="title pt-3">
                <strong class="text-success">Top Recipe</strong>
            </h3>
        </div>
        <div class="col-lg-6 col-md-6 col-sm-12">
            <div class="bg-white border rounded p-1">
                <img class="img-thumbnail" src="@Model.PictureUrl" alt="@Model.RecipeName">
            </div>
        </div>
        <div class="col-lg-6 col-md-6 col-sm-12 px-5">
            <div class="row py-3">
                <h4>
                    <a asp-action="DisplayPage" asp-route-RecipeID="@Model.RecipeID"
                       asp-controller="Recipe">@Model.RecipeName</a>
                </h4>
            </div>
            <div class="row">

                <small>Date added: @Model.DateAdded.ToLongDateString()</small>
            </div>
            
            <div class="row w-100 py-3">
                <div class="bg-white border rounded p-1">
                    <span class="rating">
                        @for (int i = 1; i <= 5; i++)
                        {
                            var starClass = "star";
                            if ((int)Model.Rating == 6 - i)
                            {
                                starClass += " active";
                            }
                            <span data-value="@(6 - i)" class="@starClass"></span>
                        }
                    </span>
                    <span class="mx-5">
                        Average Rating: (@Math.Round(Model.Rating, 2) / 5)
                    </span>
                </div>
            </div>
            <div class="row py-3">
                <p>
                    @Model.Description
                </p>
            </div>
            <div class="row">
                <a asp-action="DisplayPage"
                   asp-controller="Recipe"
                   asp-route-RecipeID="@Model.RecipeID" class="btn btn-success btn-sm px-3">
                    Read more
                </a>
            </div>
        </div>
    </div>
 </div>