@model IEnumerable<Recipe>
@{
    ViewBag.Title = "Data page";
    int counter = 0;
}


<div class="container text-center my-5">
    <h1 class="py-3">Recipe list</h1>
    @if (TempData["message"] != null)
    {
        <div class="alert alert-success">@TempData["message"]</div>
    }
    <div class="row my-4">
        @foreach (Recipe recipe in Model)
        {
            if (counter != 0 && counter % 3 == 0)
            {
            @:</div>
            @:<div class="row my-4">
            }

            <div class="col-lg-4 col-md-4 col-sm-12">
                <div class="card">
                    <img class="card-img-top" src="@recipe.PictureUrl" alt="@recipe.RecipeName">
                    <div class="card-body">
                        <h5 class="card-title">@recipe.RecipeName</h5>
                        <p class="card-text">@recipe.Description</p>
                        <a asp-action="DisplayPage" asp-route-RecipeID="@recipe.RecipeID" class="btn btn-outline-danger">See details</a>
                    </div>
                    <div class="card-footer">
                        <span class="text-muted">Cooking time: @recipe.TimeToPrepare minutes</span>
                    </div>
                </div>

            </div>

            counter++;
        }
    </div>
</div>