@model IEnumerable<Recipe>
@{
    ViewBag.Title = "Data page";
    int counter = 0;
}


<div class="container text-center my-5">
    @if (TempData["message"] != null)
    {
        <div class="alert alert-success">@TempData["message"]</div>
    }
    @if(Model.Any()) { 
    <div class="row my-4">
        @foreach (Recipe recipe in Model)
        {
            if (counter != 0 && counter % 3 == 0)
            {
            @:</div>
            @:<div class="row my-4">
            }

            <div class="col-lg-4 col-md-4 col-sm-12 mb-4">
                <div class="card myCard">
                    <img class="card-img-top" src="@recipe.PictureUrl" alt="@recipe.RecipeName">
                    <div class="card-body">
                        <h5 class="card-title">
                            <a asp-action="DisplayPage" asp-route-RecipeID="@recipe.RecipeID">@recipe.RecipeName</a>
                        </h5>
                        <p class="card-text">@recipe.Description</p>
                        
                    </div>
                    <div class="card-footer">
                        <span class="text-muted">Cooking time: @recipe.TimeToPrepare minutes</span>
                    </div>
                </div>

            </div>

            counter++;
        }
            </div>
    } else
    {
        <div class="row my-4">
            <div class="col-12 text-center">
                <h4>No recipes added.</h4>
            </div>
        </div>
    }
</div>
    