@model Recipe
@{
    ViewBag.Title = "Display page";
}

@if (Model == null)
{
    <div class="container text-center my-5">
        <h2>No recipe selected</h2>
    </div>
}
else
{
    <div class="container text-center my-5">

        <div class="row">
            <div class="col-12">
                <div class="card align-text-top">
                    
                    <div class="container-fluid">
                        <div class="row p-2">
                            <div class="col-sm-12 col-md-5 text-center">
                                <img class="img-fluid rounded" src="@Model?.PictureUrl" alt="@Model?.RecipeName">


                            </div>
                            <div class="col-sm-12 col-md-7 text-center">
                                <h5>@Model?.Description</h5>
                                @if(Model.Reviews.Count > 0) { 
                                <p>
                                    <span class="rating">
                                        @for (int i = 1; i <= 5; i++)
                                        {
                                            var starClass = "star";
                                            if (Model.Rating == 6 - i)
                                            {
                                                starClass += " active";
                                            }
                                            <span data-value="@(6 - i)" class="@starClass"></span>
                                        }
                                    </span>
                                </p>
                                }
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-12 my-4">
                                <h6 class="text-left">Ingredients</h6>
                                <p class="card-text text-left">
                                    @Model?.Ingredients
                                </p>
                            </div>
                            <div class="col-12 mb-4">
                                <h6 class="text-left">Instructions</h6>
                                <p class="card-text text-left">
                                    @Model?.PrepareMode
                                </p>
                            </div>
                        </div>
                    </div>
                    
                    
                    <div class="card-footer">
                        <p class="text-muted text-left">
                            @Model?.TimeToPrepare minutes
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <div class="row my-4">
            <div class="col-12 text-center">
                <h3>Reviews</h3>
            </div>

            <table class="table table-striped">
                <tbody>
                    @if(Model.Reviews.Count == 0)
                    {
                    <tr>
                        <td colspan="2">No reviews were added.</td>
                    </tr>
                    }
                    else
                    { 
                    foreach (Review review in Model.Reviews)
                    {

                        <tr>
                            <td>
                                <span class="rating">
                                    @for (int i = 1; i <= 5; i++)
                                    {
                                        var starClass = "star";
                                        if (review.Stars == 6 - i)
                                        {
                                            starClass += " active";
                                        }
                                        <span data-value="@(6 - i)" class="@starClass"></span>
                                    }
                                </span>
                            </td>
                            <td class="text-left">@review.Description</td>
                        </tr>
                        }
                    }
                </tbody>
            </table>
        </div>
</div>

}
